POSTGRES_PORT=5432

POSTGRES_ADMIN_USER=postgres
POSTGRES_ADMIN_PASSWORD=cambiar

CATALOGO_DB_NAME=catalogo_db
CATALOGO_DB_USER=catalogo_user
CATALOGO_DB_PASSWORD=cambiar

TURNOS_DB_NAME=turnos_db
TURNOS_DB_USER=turnos_user
TURNOS_DB_PASSWORD=cambiar

CATEDRA_API_BASE_URL=
CATEDRA_LOGIN=
CATEDRA_PASSWORD=
CATEDRA_JWT=
CATEDRA_GROUP_ID=
CATEDRA_REDIS_HOST=
CATEDRA_REDIS_PORT=
CATEDRA_REDIS_USERNAME=
CATEDRA_REDIS_PASSWORD=
CATEDRA_REDIS_READ_NAMESPACE=
CATEDRA_REDIS_WRITE_NAMESPACE=
CATEDRA_KAFKA_BOOTSTRAP_SERVERS=
CATEDRA_KAFKA_CONSUMER_GROUP_ID=
CATEDRA_KAFKA_CATALOG_TOPIC=
CATEDRA_KAFKA_APPOINTMENT_ACTIONS_TOPIC=
CATEDRA_KAFKA_APPOINTMENT_PHONE_TOPIC=
